# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [2]:
# Write your answer here:
print('Hung Tan Ngo')
print('Emory ID: 2539832')

Hung Tan Ngo
Emory ID: 2539832

<font size = "5">

Import the "pandas" and "numpy" library

In [3]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 12

In [4]:
# Write your answer here:
students = pd.read_csv("data_raw/students.csv")
bins = [0,54,59,64,69,74,79,82,86,92,float("inf")]
bins_label = ["F", "D","C-", "C", "C+","B-","B","B+","A-","A"]
students["numericgrade"] = pd.cut(students["numericgrade"], bins = bins, right = True, labels= bins_label)
students["numericgrade"]

0      C-
1     NaN
2       F
3       D
4      C+
5       A
6       F
7       F
8       F
9      C-
10      F
11      F
12     B-
13      A
14      F
15      F
16      F
17      D
18      B
19      F
20      F
21     A-
22      B
23      F
24     C-
Name: numericgrade, dtype: category
Categories (10, object): ['F' < 'D' < 'C-' < 'C' ... 'B' < 'B+' < 'A-' < 'A']

<font size = "5">

For questions (b)-(e) use "sprint_results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/sprint_results.csv" to <br>
 a new object "sprint_results"

In [24]:
# Write your own code
sprint_results = pd.read_csv("data_raw/sprint_results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function `sprint_results.dtypes` to get the column data types
- Search for the "sprint_results" table in "codebook/f1_codebook.pdf".
- **Print if the type of the "position" column agree with the codebook?** <br>
i.e. is it an integer, float, or string/object?

HINT: See Lectures 12 and 13 for how to interpret the codebook

- Print the difference you observed between the codebook and the new dataframe you have created.

---
**Optional**
- Convert this `sprint_results.dtypes` object type into DataFrame and  the datatype of `position`.
- HINT: Use pd.DataFrame().reset_index <br>
`reset_index` is to convert the index to a column 
---





<span style = "color:blue"> There are other columns that has disparity with the codebook.\
Feel free to explore them! </span>

In [28]:
# Write your own code here
# Note: When you run "sprint_results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
sprint_results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31

In [29]:
sprint_results.dtypes

resultId           int64
raceId             int64
driverId           int64
constructorId      int64
number             int64
grid               int64
position          object
positionText      object
positionOrder      int64
points             int64
laps               int64
time              object
milliseconds      object
fastestLap        object
fastestLapTime    object
statusId           int64
dtype: object

In [30]:
print(f"Does the position's type match the one in the codebook?",isinstance(sprint_results["position"], int))
print(f"Does the points' type match the one in the codebook?",isinstance(sprint_results["points"], float))
print(f"Does the milliseconds' type match the one in the codebook?",isinstance(sprint_results["milliseconds"], int))
print(f"Does the fastestLap' type match the one in the codebook?",isinstance(sprint_results["fastestLap"], int))

Does the position's type match the one in the codebook? False
Does the points' type match the one in the codebook? False
Does the milliseconds' type match the one in the codebook? False
Does the fastestLap' type match the one in the codebook? False

<font size = "5">

(c) Clean a column

<font size = "3">

- Our goal is to replace any string values in the column "position" <br>
to missing values (NaNs) and covert to numeric

- To do so
    1. Extract list of non-numeric values
    2. Replace certain list of values
    3. Convert column to numeric
    4. Display

In [31]:
# Write your own code here
# Create and store a list of non-numeric values
non_numeric_values = sprint_results[~sprint_results['position'].str.isnumeric()]['position']
print(non_numeric_values)
non_numeric_values = ["\\N"]

19     \N
39     \N
79     \N
99     \N
119    \N
Name: position, dtype: object

In [32]:
# Create a list for replacement
sprint_results['position'] = sprint_results['position'].replace(non_numeric_values, np.nan)
sprint_results['position'] = pd.to_numeric(sprint_results['position'])

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggConstrcId_pos"

- Sort the aggregate dataset in ascending <br>
order of mean position using ".sort_values()" <br>
(i.e., to find the constructor with drivers having the best mean positions)

- Display

- Print which constructorId has the lowest mean position.

HINT: See Lecture 13 <br>

In [33]:
# Write your own code
df_aggConstrcld_pos = (sprint_results.groupby("driverId")
                      .agg(mean_position = ('position','mean'),
                           sd_position =   ('position','std')))
df_aggConstrcld_pos

          mean_position  sd_position
driverId
1              6.166667     4.355074
4             11.400000     4.159327
8             15.500000     3.535534
9             18.000000          NaN
20            11.833333     3.970726
815            5.200000     2.280351
817            8.166667     3.656045
822            6.000000     5.291503
825            7.666667     0.577350
830            1.833333     1.169045
832            5.000000     3.405877
839           11.833333     4.262237
840           13.666667     2.065591
841           12.000000     3.605551
842           12.400000     3.646917
844            4.500000     2.167948
846            6.333333     2.503331
847            9.500000     6.188699
848           17.000000     1.414214
849           17.166667     1.940790
852           15.166667     1.722401
853           18.666667     1.527525
854           14.500000     4.679744
855           13.500000     0.707107

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 100'

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggConstr_pos"

- Display

Hint: See Lectures 9 and 11 (to refresh ".query()") and <br>
Lecture 13 for how to combine it with ".groupby()"

In [35]:
# Write your own code
subset = sprint_results.query('raceId >= 100')
df_subAggConstr_pos = (subset.groupby("driverId")
                      .agg(mean_position = ('position','mean'),
                           sd_position =   ('position','std')))
df_subAggConstr_pos

          mean_position  sd_position
driverId
1              6.166667     4.355074
4             11.400000     4.159327
8             15.500000     3.535534
9             18.000000          NaN
20            11.833333     3.970726
815            5.200000     2.280351
817            8.166667     3.656045
822            6.000000     5.291503
825            7.666667     0.577350
830            1.833333     1.169045
832            5.000000     3.405877
839           11.833333     4.262237
840           13.666667     2.065591
841           12.000000     3.605551
842           12.400000     3.646917
844            4.500000     2.167948
846            6.333333     2.503331
847            9.500000     6.188699
848           17.000000     1.414214
849           17.166667     1.940790
852           15.166667     1.722401
853           18.666667     1.527525
854           14.500000     4.679744
855           13.500000     0.707107